<div>
  <div>
    <h1>
      <%= @the_course.course_name.capitalize %> Questions
    </h1>



    <dl>
      <dt>
        Course code
      </dt>
      <dd>
        <%= @the_course.course_code %>
      </dd>
    </dl>
  </div>

<hr>
<h4> Upload a Question </h4>

<form action="/insert_question" method="post">
      <div>
        <label for="question_description_box">
          Description
        </label>

        <input type="text" id="question_description_box" name="query_description">
      </div>

      <div>
        <label for="question_image_box">
          Image
        </label>

        <input type="text" id="question_image_box" name="query_image_link">


        <label for="course_id_box"> 
        <input type="hidden" id="course_id_box" name="query_course_id" value="<%=@the_course.id%>">

        <label for="user_id_box"> 
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%=@current_user.id%>">

        <label for="user_image_file_box"> 
        <input type="hidden" id="user_image_file_box" name="query_image_file" value="BlankForNow">

      </div>
<br>
      <button>
        Create Question
      </button>
  </form>

<hr>

  <div>
  <p> Previously Asked Questions </p>
    <table border="1">
      <tr>
        <th>
          Description
        </th>

        <th>
          Image
        </th>

        <th>
          Date Posted
        </th>

        <th>
          Show Solution
        </th>
      </tr>
    </table>
  </div>



<hr>

          <div>
        <a href="/home_page">
          Go back
        </a>
      </div>
