
    <p style="color: green"> 
      <%= notice%>
    </p>

    <center>
      <h1 style="color:black">Class<span style="color:cornflowerblue">Board</span> </h1>
    </center>
    <DIV STYLE="background-color:cornflowerblue; height:10px; width:100%;">
    <br>
    
<center> ClassBoard is where you come for academic support! Have a question in a class, upload it and wait for solutions. Have a solution to a problem? Provide an answer to a question. If you don't see your class code, go ahead and upload your class code and begin posting your questions.</center>

<center>
<h1 style="color:cornflowerblue">Sign Up</h1>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <label for="pseudo_name_box">Pseudo Name</label>
      
    <input type="text" id="pseudo_name_box" name="query_pseudo_name" placeholder="Choose a Pseudo Name">
  </div>
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>

<br>

<DIV STYLE="background-color:cornflowerblue; height:10px; width:100%;">

<br><br>

<p>
  Or, <a style="color:cornflowerblue;"href="/user_sign_in">Sign in</a> instead.
</p>
